---
import Footer from '~/components/Footer.astro'
import ThoughtListItem from '~/components/ThoughtListItem.astro'
import Layout from '~/layouts/Layout.astro'
import ThoughtsLayout from '~/layouts/ThoughtsLayout.astro'
import { getAllThoughtsSummary } from '~/lib/thoughts'

const thoughts = await getAllThoughtsSummary()
---

<Layout
	title="Thoughts - Tomas Klingen"
	description="A collection of thoughts and learnings from Tomas Klingen"
>
	<div class="flex-1 relative z-10">
		<div class="flex flex-col relative">
			<ThoughtsLayout>
				<header class="mb-10">
					<p class="text-md text-gray-600 dark:text-gray-300">
						A small collection of insights and bits of things I learned.
					</p>
				</header>

				<section class="space-y-6">
					{
						thoughts.map((thought) => (
							<ThoughtListItem
								thought={thought}
								class="py-2"
								variant="default"
								dateFormat="default"
							/>
						))
					}
				</section>
			</ThoughtsLayout>
		</div>
		<Footer />
	</div>
</Layout>
