@import "tailwindcss";

@theme {
	--font-sans: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
		source-sans-pro, sans-serif;
	--font-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace;

	--font-header: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
		"Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
	--breakpoint-3xl: 40rem;
	--breakpoint-2xl: 40rem;
	--breakpoint-xl: 40rem;
}
